body {
  font-family: arial, monospace;
}

h1 {
  color: #dc3545;
  font-size: 28px;
  font-weight: 300;
  line-height: 28px;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

.descriptiondate {
  list-style: none;
  color: #48484a;
  font-size: 14px;
  line-height: 19px;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

#description {
  font-style: italic;
}

li:first-letter {
  text-transform: capitalize;
}

.container-frame {
  max-width: 600px;
  margin: 30px auto;
}

.container-header {
  padding: 20px;
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  border: 1px solid #dadde1;
  border-radius: 10px;
}

.current-location {
  background-color: transparent;
  position: relative;
  left: -20px;
}

.forecast-overview {
  margin-bottom: 20px;
}

.weather-forecast img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.weather-forecast strong {
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
  color: #48484a;
}

.weather-forecast .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.weather-forecast .active {
  cursor: default;
}

.weather-forecast .active:hover {
  text-decoration: none;
}

.details {
  font-weight: 100;
  font-size: 13px;
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 20px;
  color: #48484a;
}

.textdeco {
  font-weight: bold;
}

.weather-temperature {
  margin-top: 10px;
  margin-left: 50px;
  color: #48484a;
}

.weather-temperature h3 {
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  height: 15px;
  line-height: 15px;
  padding-top: 7px;
}

.weather-temperature img {
  display: block;
  margin: 0 auto;
  height: 48px;
  width: 48px;
}

.weather-temperature-temperature {
  text-align: center;
  font-size: 13px;
  font-weight: 400;
  height: auto;
  line-height: 15px;
  white-space: nowrap;
}

.footer {
  margin: 0;
  padding: 0;
  margin-top: 15px;
  font-style: italic;
  color: #48484a;
}
