body {
  font-family: arial, monospace;
  background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
  max-width: 600px;
  margin: 30px auto;
}

h1 {
  color: #5a6275;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

.container-frame {
  max-width: 600px;
  margin: 30px auto;
}

.container-header {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
}

.forecast-overview {
  margin-bottom: 20px;
}

.weather-forecast img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.weather-forecast strong {
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

.weather-forecast units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.weather-forecast .active:hover {
  text-decoration: none;
}

.weather-temperature {
  margin-top: 10px;
}

.weather-temperature h3 {
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  height: 15px;
  line-height: 15px;
  padding-top: 7px;
}

.weather-temperature img {
  display: block;
  margin: 0 auto;
  height: 48px;
  width: 48px;
}

.weather-temperature-temperature {
  text-align: center;
  font-size: 13px;
  font-weight: 400;
  height: auto;
  line-height: 15px;
  white-space: nowrap;
}
